
<%- include("header")-%>
<h2 style="color: white;"> This is the about page</h2>
<p style="margin: auto;"> I am a student do Delhi Technological University persuing B-tech in IT and minor in Artificial intelligence and machine learning.🤗</p>
<%- include("footer")-%>